language = "python3"
run = "python3 bot.py"
entrypoint = "bot.py"

[nix]
channel = "stable-22_11"

[env]
PYTHONPATH = "${PYTHONPATH}:${workspaceFolder}"
PYTHONUNBUFFERED = "1"

[packager]
language = "python3"
ignoredPackages = ["unit_tests"]

[packager.features]
enabledForHosting = true
packageSearch = true
guessImports = true

[unitTest]
language = "python3"

[languages]

[languages.python3]
pattern = "**/*.py"

[languages.python3.languageServer]
start = "pylsp"

[deployment]
run = ["sh", "-c", "python3 bot.py"]
deploymentTarget = "cloudrun"

[interpreter]
command = ["python3", "-u", "bot.py"]
